html,
body {
  margin: none;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  height: 250px;
  width: 550px;
  border: #000;
  background-color: salmon;
  padding: 30px;
}
.names {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details {
  display: flex;
  flex-direction: column;
}
input {
  padding: 5px;
}
.button {
  color: #000;
  background-color: seashell;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 240px;
}
