body {
  margin: 0px;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #cc294a;
  color: #fff;
  font-family: montserrat;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
}
.branding {
  padding: 20px;
}
.nav-links > ul {
  list-style: none;
}
.nav-links > ul > li {
  display: inline;
  padding: 0px 20px 0px 20px;
}

.nav-links > ul > li > a {
  text-decoration: none;
  color: #fff;
}
